<div>
  <ul class="breadcrumb">
    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="ホームのＵＲＬ" itemprop="url">
        <span itemprop="title">ホーム</span>
      </a>
    </li>
    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="カテゴリーＵＲＬ" itemprop="url">
        <span itemprop="title">{{subCate}}</span>
      </a>
    </li>
    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="子カテゴリーのＵＲＬ" itemprop="url">
        <span itemprop="title">{{title}}</span>
      </a>
    </li>
  </ul>
  <div class="main">

    <div class="left">

      <section>
        <video id="video" controls :src="videoUrl" @click="saisei()" autobuffer></video>
      </section>
      <section class="item-box">
        <router-link :to="preVideo">
          <el-button :class="preVideo != '/video/' ? ''  : 'is-disabled'"> &lt; 前の講座へ</el-button>
        </router-link>

        <router-link :to="nextVideo">
          <el-button :class="nextVideo != '/video/' ? ''  : 'is-disabled'">
            次の講座へ > </el-button>
        </router-link>
      </section>
      <div class="description">

        <div v-html="source"></div>


      </div>
    </div>
    <div class="right">
      <table class="table">
        <thead>
          <tr>
            <th class="time">時間</th>
            <th class="name">チャプター</th>
          </tr>
        </thead>
        <tbody id="tableBody">
          <tr v-for="(item, index) in tableData" :class="{ 'nowPlay': item.time <= nowTime && nowTime < item.endTime}" @click="say(index)">
            <td class="time">{{ item.time | toTime }}</td>
            <td class="name">{{ item.name }}</td>
          </tr>
        </tbody>
      </table>
      <section class="recommand">
        <h3>おすすめ動画 or 質問箱</h3>
        <!--          <el-button @click="say(1)">Default</el-button>-->
        現在、この機能は使えません。<br/><br/> アップデートをお待ちください
      </section>
    </div>
  </div>

</div>
