<div class="mainContainer">
  <ul class="breadcrumb">
    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
      <router-link to="/home"><span itemprop="title">ホーム</span></router-link>
    </li>
    <!--
<li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
  <a href="カテゴリーＵＲＬ" itemprop="url">
    <span itemprop="title">{{subCate}}</span>
  </a>
</li>
-->
    <li itemscope="itemscope" itemtype="http://data-vocabulary.org/Breadcrumb">
      <span itemprop="title">{{title}}</span>
    </li>
  </ul>
  <div class="main">
    <div class="left">
      <div class="video">
        <video id="video" controls :src="videoUrl" @click="saisei()" autobuffer></video>
      </div>
      <div class="itemBox">
        <a href="https://github.com/evesanta/eduWebSite" 　target="_blank">
          <div class="gitHub">

            <octicon name="mark-github"></octicon>
            <octicon name="logo-github"></octicon>

          </div>
        </a>

        <router-link :to="preVideo">
          <el-button :class="preVideo != '/video/' ? ''  : 'is-disabled'"> &lt; {{preName}}</el-button>
        </router-link>

        <router-link :to="nextVideo">
          <el-button :class="nextVideo != '/video/' ? ''  : 'is-disabled'">
            {{nextName}} > </el-button>
        </router-link>
      </div>
      <div class="chapter">
        <table class="table">
          <thead>
            <tr>
              <th class="time">時間</th>
              <th class="name">チャプター</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            <tr v-for="(item, index) in tableData" :class="{ 'nowPlay': item.time <= nowTime && nowTime < item.endTime}" @click="say(index)">
              <td class="time">{{ item.time | toTime }}</td>
              <td class="name">{{ item.name }}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="right">
      <div v-html="source"></div>
    </div>


  </div>

</div>
