$mainColor: #3C7;
$main-width: 1300px;
$headerHeight: 48px;
$itemBoxHeight: 50px;
$videoHeight: 432px;
$leftWidth: 768px;
$tableTimeWidth: 120px; // メインcss

.mainContainer {
  // headerHeight変えて
  // height: calc(100vh - $headerHeight);
  height: calc(100vh - 48px);
  width: 100vw;
  min-width: $main-width;
  background-color: aliceblue;

  .main {
    margin: 0 auto;
    width: $main-width;
    // headerHeight変えて
    // height: calc(100vh - $headerHeight);
    height: calc(100vh - 72px);
    min-height: 610px;
    background-color: aqua;
    display: flex;

    .left {
      width: 768px;

      .video {
        height: $videoHeight;
        background-color: antiquewhite;

        video {
          width: 100%;
          height: 100%;
        }
      }

      .itemBox {
        box-sizing: border-box;
        height: $itemBoxHeight;
        background-color: $mainColor;
        border: 1px solid #AAA;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
          transition: opacity 0.3s 0s ease;
          text-decoration: none;
          position: relative;
          margin-right: 20px;

          &:visited {
            color: #000;
          }

          .gitHub {
            background-color: white;
            height: 38px;
            line-height: 42px;
            padding: 0 20px;
            border-radius: 4px;
            border: 1px solid #dcdfe6;
            color: #000;
            display: inline-block;
            height: 38px;
            text-align: center;

            &:hover {
              opacity: 0.8;
            }

            &:hover + .toolltip {
              opacity: 0.9;
              transition: opacity 0.5s 0.4s ease;
            }
          }

          .tooltip {
            position: absolute;
            z-index: 5;
            width: 140px;
            top: 50px;
            background-color: #666;
            color: white;
            padding: 5px 10px;
            box-sizing: border-box;
            border-radius: 5px;
            opacity: 0;
            transition: opacity 0.2s 0s ease;
            text-align: center;
          }

          button {
            &:hover {
              opacity: 0.8;
            }

            &:hover + .tooltip {
              opacity: 0.9;
              transition: opacity 0.5s 0.4s ease;
            }
          }
        }

        .is-disabled {
          margin-right: 20px;
        }
      }

      .chapter {
        height: calc(100vh - 432px - 50px - 72px);
        width: 100%;
        background-color: burlywood;

        .table {
          margin: 0 auto;
          border-collapse: collapse;
          background-color: white;
          text-align: left;
          line-height: 1.5;
          border: 2px solid #DDD;
          z-index: 3;
          height: 100%;
          min-height: 128px;

          thead {
            display: block;

            th {
              padding: 10px;
              font-weight: bold;
              vertical-align: top;
              background-color: #EFE;
              border-bottom: 3px solid $mainColor;
            }
          }

          tbody {
            cursor: pointer;
            display: block;
            overflow-y: scroll;
            height: calc(100% - 54px);

            &::-webkit-scrollbar {
              display: none;
            }

            td {
              padding: 10px;
              vertical-align: top;
              border-bottom: 1px solid #ccc;
            }

            tr {
              opacity: 0.4;
              font-size: 14px;
              transition: background-color 0.5s 0s ease;

              &:hover {
                background-color: #EFE;
                opacity: 0.7;
              }
            }

            .nowPlay {
              color: $mainColor;
              opacity: 1;
            }
          }

          .time {
            padding-left: 40px;
            width: $tableTimeWidth;
          }

          .name {
            width: $leftWidth - $tableTimeWidth;
          }
        }
      }
    }

    .right {
      width: $main-width - $leftWidth;
      border: 3px solid #AAA;
      box-sizing: border-box;
      padding: 0 20px;
      background-color: white;
      height: 100%;
      overflow-y: scroll;

      h1 {
        border-bottom: 2px solid #DDD;
      }

      pre {
        font-size: 14px;
      }

      code {
        position: relative;
        padding: 10px;
        overflow-x: auto;
        box-sizing: border-box;
        background-color: #fffeed;
        border: 2px solid #EEE;
        display: inline-block;
        width: 100%;
      }

      .lang-java {
        $lang-color: #ffa342;
        border: 2px solid $lang-color;
        padding-top: 25px;

        &::before {
          position: absolute;
          content: "Java";
          color: white;
          top: 0;
          left: 0;
          padding: 2px 7px;
          background-color: $lang-color;
        }
      }

      .lang-css {
        $lang-color: #4299ff;
        border: 2px solid $lang-color;
        padding-top: 25px;

        &::before {
          position: absolute;
          content: "CSS";
          color: white;
          top: 0;
          left: 0;
          padding: 2px 7px;
          background-color: $lang-color;
        }
      }

      .lang-js {
        $lang-color: #e2df00;
        border: 2px solid $lang-color;
        padding-top: 25px;

        &::before {
          position: absolute;
          content: "JavaScript";
          color: white;
          top: 0;
          left: 0;
          padding: 2px 7px;
          background-color: $lang-color;
        }
      }

      .lang-ruby {
        $lang-color: #ff6c6c;
        border: 2px solid $lang-color;
        padding-top: 25px;

        &::before {
          position: absolute;
          content: "Ruby";
          color: white;
          top: 0;
          left: 0;
          padding: 2px 7px;
          background-color: $lang-color;
        }
      }

      .lang-cpp {
        $lang-color: #1fd3d9;
        border: 2px solid $lang-color;
        padding-top: 25px;

        &::before {
          position: absolute;
          content: "C++";
          color: white;
          top: 0;
          left: 0;
          padding: 2px 7px;
          background-color: $lang-color;
        }
      }

      .lang-markdown {
        $lang-color: #711fd9;
        border: 2px solid $lang-color;
        padding-top: 25px;

        &::before {
          position: absolute;
          content: "MarkDown";
          color: white;
          top: 0;
          left: 0;
          padding: 2px 7px;
          background-color: $lang-color;
        }
      }

      .lang-tex {
        $lang-color: #2a7ee0;
        border: 2px solid $lang-color;
        padding-top: 25px;

        &::before {
          position: absolute;
          content: "Tex";
          color: white;
          top: 0;
          left: 0;
          padding: 2px 7px;
          background-color: $lang-color;
        }
      }

      h2,
      h3,
      h4,
      h5 {
        margin-bottom: 0;
      }
    }
  }
}
/*
Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars)
シンタックスハイライト
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000;
  background: #f8f8ff;
}

.hljs-comment,
.hljs-quote {
  color: #408080;
  font-style: italic;
}

.hljs-keyword,
.hljs-literal,
.hljs-selector-tag,
.hljs-subst {
  color: #954121;
}

.hljs-number {
  color: #40a070;
}

.hljs-doctag,
.hljs-string {
  color: #219161;
}

.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-type {
  color: #19469d;
}

.hljs-params {
  color: #00f;
}

.hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-attribute,
.hljs-name,
.hljs-tag {
  color: #000080;
  font-weight: normal;
}

.hljs-template-variable,
.hljs-variable {
  color: #008080;
}

.hljs-link,
.hljs-regexp {
  color: #b68;
}

.hljs-bullet,
.hljs-symbol {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

blockquote {
  padding-left: 10px;
  border-left: 6px solid #DDD;
}
//シンタックスハイライト終わり
//パンくず

.breadcrumb {
  padding: 0;
  margin: 0 0 0 10px;

  li {
    display: inline;
    /*横に並ぶように*/
    list-style: none;
    font-weight: bold;
    /*太字*/
    &:after {
      /* >を表示*/
      content: '>';
      padding: 0 3px;
      color: #555;
    }

    &:last-child:after {
      content: '';
    }

    a {
      text-decoration: none;
      color: $mainColor;
      /*色*/
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
// パンくず終わり