@charset "UTF-8";
.mainContainer {
  height: calc(100vh - 48px);
  width: 100vw;
  min-width: 1300px;
  background-color: aliceblue; }
  .mainContainer .main {
    margin: 0 auto;
    width: 1300px;
    height: calc(100vh - 72px);
    min-height: 610px;
    background-color: aqua;
    display: flex; }
    .mainContainer .main .left {
      width: 768px; }
      .mainContainer .main .left .video {
        height: 432px;
        background-color: antiquewhite; }
        .mainContainer .main .left .video video {
          width: 100%;
          height: 100%; }
      .mainContainer .main .left .itemBox {
        box-sizing: border-box;
        height: 50px;
        background-color: #3C7;
        border: 1px solid #AAA;
        display: flex;
        align-items: center;
        justify-content: flex-end; }
        .mainContainer .main .left .itemBox a {
          transition: opacity 0.3s 0s ease;
          text-decoration: none;
          position: relative;
          margin-right: 20px; }
          .mainContainer .main .left .itemBox a:visited {
            color: #000; }
          .mainContainer .main .left .itemBox a .gitHub {
            background-color: white;
            height: 38px;
            line-height: 42px;
            padding: 0 20px;
            border-radius: 4px;
            border: 1px solid #dcdfe6;
            color: #000;
            display: inline-block;
            height: 38px;
            text-align: center; }
            .mainContainer .main .left .itemBox a .gitHub:hover {
              opacity: 0.8; }
            .mainContainer .main .left .itemBox a .gitHub:hover + .toolltip {
              opacity: 0.9;
              transition: opacity 0.5s 0.4s ease; }
          .mainContainer .main .left .itemBox a .tooltip {
            position: absolute;
            z-index: 5;
            width: 140px;
            top: 50px;
            background-color: #666;
            color: white;
            padding: 5px 10px;
            box-sizing: border-box;
            border-radius: 5px;
            opacity: 0;
            transition: opacity 0.2s 0s ease;
            text-align: center; }
          .mainContainer .main .left .itemBox a button:hover {
            opacity: 0.8; }
          .mainContainer .main .left .itemBox a button:hover + .tooltip {
            opacity: 0.9;
            transition: opacity 0.5s 0.4s ease; }
        .mainContainer .main .left .itemBox .is-disabled {
          margin-right: 20px; }
      .mainContainer .main .left .chapter {
        height: calc(100vh - 432px - 50px - 72px);
        width: 100%;
        background-color: burlywood; }
        .mainContainer .main .left .chapter .table {
          margin: 0 auto;
          border-collapse: collapse;
          background-color: white;
          text-align: left;
          line-height: 1.5;
          border: 2px solid #DDD;
          z-index: 3;
          height: 100%;
          min-height: 128px; }
          .mainContainer .main .left .chapter .table thead {
            display: block; }
            .mainContainer .main .left .chapter .table thead th {
              padding: 10px;
              font-weight: bold;
              vertical-align: top;
              background-color: #EFE;
              border-bottom: 3px solid #3C7; }
          .mainContainer .main .left .chapter .table tbody {
            cursor: pointer;
            display: block;
            overflow-y: scroll;
            height: calc(100% - 54px); }
            .mainContainer .main .left .chapter .table tbody::-webkit-scrollbar {
              display: none; }
            .mainContainer .main .left .chapter .table tbody td {
              padding: 10px;
              vertical-align: top;
              border-bottom: 1px solid #ccc; }
            .mainContainer .main .left .chapter .table tbody tr {
              opacity: 0.4;
              font-size: 14px;
              transition: background-color 0.5s 0s ease; }
              .mainContainer .main .left .chapter .table tbody tr:hover {
                background-color: #EFE;
                opacity: 0.7; }
            .mainContainer .main .left .chapter .table tbody .nowPlay {
              color: #3C7;
              opacity: 1; }
          .mainContainer .main .left .chapter .table .time {
            padding-left: 40px;
            width: 120px; }
          .mainContainer .main .left .chapter .table .name {
            width: 648px; }
    .mainContainer .main .right {
      width: 532px;
      border: 3px solid #AAA;
      box-sizing: border-box;
      padding: 0 20px;
      background-color: white;
      height: 100%;
      overflow-y: scroll; }
      .mainContainer .main .right h1 {
        border-bottom: 2px solid #DDD; }
      .mainContainer .main .right pre {
        font-size: 14px; }
      .mainContainer .main .right code {
        position: relative;
        padding: 10px;
        overflow-x: auto;
        box-sizing: border-box;
        background-color: #fffeed;
        border: 2px solid #EEE;
        display: inline-block;
        width: 100%; }
      .mainContainer .main .right .lang-java {
        border: 2px solid #ffa342;
        padding-top: 25px; }
        .mainContainer .main .right .lang-java::before {
          position: absolute;
          content: "Java";
          color: white;
          top: 0;
          left: 0;
          padding: 2px 7px;
          background-color: #ffa342; }
      .mainContainer .main .right .lang-css {
        border: 2px solid #4299ff;
        padding-top: 25px; }
        .mainContainer .main .right .lang-css::before {
          position: absolute;
          content: "CSS";
          color: white;
          top: 0;
          left: 0;
          padding: 2px 7px;
          background-color: #4299ff; }
      .mainContainer .main .right .lang-js {
        border: 2px solid #e2df00;
        padding-top: 25px; }
        .mainContainer .main .right .lang-js::before {
          position: absolute;
          content: "JavaScript";
          color: white;
          top: 0;
          left: 0;
          padding: 2px 7px;
          background-color: #e2df00; }
      .mainContainer .main .right .lang-ruby {
        border: 2px solid #ff6c6c;
        padding-top: 25px; }
        .mainContainer .main .right .lang-ruby::before {
          position: absolute;
          content: "Ruby";
          color: white;
          top: 0;
          left: 0;
          padding: 2px 7px;
          background-color: #ff6c6c; }
      .mainContainer .main .right .lang-cpp {
        border: 2px solid #1fd3d9;
        padding-top: 25px; }
        .mainContainer .main .right .lang-cpp::before {
          position: absolute;
          content: "C++";
          color: white;
          top: 0;
          left: 0;
          padding: 2px 7px;
          background-color: #1fd3d9; }
      .mainContainer .main .right .lang-markdown {
        border: 2px solid #711fd9;
        padding-top: 25px; }
        .mainContainer .main .right .lang-markdown::before {
          position: absolute;
          content: "MarkDown";
          color: white;
          top: 0;
          left: 0;
          padding: 2px 7px;
          background-color: #711fd9; }
      .mainContainer .main .right .lang-tex {
        border: 2px solid #2a7ee0;
        padding-top: 25px; }
        .mainContainer .main .right .lang-tex::before {
          position: absolute;
          content: "Tex";
          color: white;
          top: 0;
          left: 0;
          padding: 2px 7px;
          background-color: #2a7ee0; }
      .mainContainer .main .right h2,
      .mainContainer .main .right h3,
      .mainContainer .main .right h4,
      .mainContainer .main .right h5 {
        margin-bottom: 0; }

/*
Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars)
シンタックスハイライト
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #000;
  background: #f8f8ff; }

.hljs-comment,
.hljs-quote {
  color: #408080;
  font-style: italic; }

.hljs-keyword,
.hljs-literal,
.hljs-selector-tag,
.hljs-subst {
  color: #954121; }

.hljs-number {
  color: #40a070; }

.hljs-doctag,
.hljs-string {
  color: #219161; }

.hljs-section,
.hljs-selector-class,
.hljs-selector-id,
.hljs-type {
  color: #19469d; }

.hljs-params {
  color: #00f; }

.hljs-title {
  color: #458;
  font-weight: bold; }

.hljs-attribute,
.hljs-name,
.hljs-tag {
  color: #000080;
  font-weight: normal; }

.hljs-template-variable,
.hljs-variable {
  color: #008080; }

.hljs-link,
.hljs-regexp {
  color: #b68; }

.hljs-bullet,
.hljs-symbol {
  color: #990073; }

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3; }

.hljs-meta {
  color: #999;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

blockquote {
  padding-left: 10px;
  border-left: 6px solid #DDD; }

.breadcrumb {
  padding: 0;
  margin: 0 0 0 10px; }
  .breadcrumb li {
    display: inline;
    /*横に並ぶように*/
    list-style: none;
    font-weight: bold;
    /*太字*/ }
    .breadcrumb li:after {
      /* >を表示*/
      content: '>';
      padding: 0 3px;
      color: #555; }
    .breadcrumb li:last-child:after {
      content: ''; }
    .breadcrumb li a {
      text-decoration: none;
      color: #3C7;
      /*色*/ }
      .breadcrumb li a:hover {
        text-decoration: underline; }

/*# sourceMappingURL=style.css.map */
